* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Overpass", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

 .main {
    display: flex;
    /* para centrar de forma horizontal ------ */
    justify-content: center;
    /* para centrar de forma vertical | */
    align-items: center;
    height: 100vh;
 }

 .card {
    width: 375px;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    border-radius: 20px;
    color: #fff;
  }

  img {
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  h2 {
    margin-top: 15px;
    font-weight: 2000;
    color: hsl(0, 0%, 0%);
    
  }
  
  h3 {
    font-size: 25px;
    color:hsl(0, 0%, 0%);
    padding-bottom: 30px;
  }
  
  p {
    margin-bottom: 40px !important;
    color: hsl(220, 15%, 55%);
  }

  .align-text {
    width: 290px;
    margin: auto;
    margin-top: 20px;
  }
  